.booking-page-header
  background-repeat: no-repeat
  background-size: cover
  background-image: url("/assets/img/airport-pxsphere.com-recolored.png")

#nav-tabs-booking
  border: 0

.card-header-custom
  background: linear-gradient(60deg, #4770bc, #674ab7)

.input-group .input-group-text //Override some undesirable styles from material kit
  background-color: #e9ecef
  border: 1px solid #ced4da

.form-control
  background-image: none

ngb-datepicker.is-invalid
  border-color: #dc3545

ngb-datepicker.is-valid
  border-color: #28a745

.nav-item.disabled, .nav-item.disabled .pointer
  cursor: not-allowed
