<div class="page-header booking-page-header" data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="post-animation-div col-md-8 ml-auto mr-auto">
        <h1 style="vertical-align:middle;max-height:100%">Booking</h1>
        <h3 class="subtitle">Your journey starts here.</h3>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="section">
      <h2 class="text-center">Book your flight today!</h2>
      <br />
      <div class="card card-nav-tabs card-plain">
        <div class="card-header card-header-custom">
          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" id="nav-tabs-booking" data-tabs="tabs">
                <li class="nav-item pointer">
                  <a class="nav-link active" (click)="activatePage(1)" [class.active]="activePage==1">
                    Details
                  </a>
                </li>
                <li class="nav-item" [class.disabled]="!formValidated()">
                  <a class="nav-link pointer" (click)="activatePage(2)" [class.active]="activePage==2">
                    Listings
                  </a>
                </li>
                <li class="nav-item" [class.disabled]="!formValidated()||!currentBooking">
                  <a class="nav-link pointer" (click)="activatePage(3)" [class.active]="activePage==3">
                    Book It!
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane" id="locations" [class.active]="activePage==1">
              <br />
              <div class="form-group bdm-form-group">
                <label class="bmd-label-static">Flight Date</label>
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" (dateSelect)="onDateSelection($event)" (change)="onManualDateEntry($event)" ngbDatepicker #d="ngbDatepicker" [ngClass]="validate?(date?'is-valid':'is-invalid'):''" name="dp" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-fab btn-round btn-primary btn-dateselect" id="button-addon2" (click)="d.toggle()">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18pt" height="18pt" viewBox="0 0 24 24" version="1.1">
                      <g id="surface516284">
                        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 7 1 C 6.449219 1 6 1.449219 6 2 L 6 3 L 5 3 C 3.898438 3 3 3.898438 3 5 L 3 19 C 3 20.101562 3.898438 21 5 21 L 19 21 C 20.101562 21 21 20.101562 21 19 L 21 5 C 21 3.898438 20.101562 3 19 3 L 18 3 L 18 2 C 18 1.449219 17.550781 1 17 1 C 16.449219 1 16 1.449219 16 2 L 16 3 L 8 3 L 8 2 C 8 1.449219 7.550781 1 7 1 Z M 5 8 L 19 8 L 19 18 C 19 18.550781 18.550781 19 18 19 L 6 19 C 5.449219 19 5 18.550781 5 18 Z M 5 8 " />
                      </g>
                    </svg>
                  </button>
                </span>
              </div>
              <div class="text-danger" *ngIf="validate&&!date">
                Please select a date
              </div>
              <br />
              <div class="form-group">
                <label for="sourceAirport">Source Airport</label>
                <select class="form-control selectpicker" data-style="btn btn-link" id="sourceAirport" (change)="setSource($event)" [ngClass]="validate?(source?'is-valid':'is-invalid'):''">
                  <option value="-1">Select...</option>
                  <option *ngFor="let airport of bookingService.Airports" value={{airport.id}}>
                    {{airport.fullName}}
                  </option>
                </select>
                <!--<div class="input-group-append" *ngIf="source">
                  <span class="input-group-text" id="sourceid">{{source.id}}</span>
                </div>-->
              </div>
              <div class="text-danger" *ngIf="validate&&!source">
                Please select a source airport
              </div>
              <br />
              <div class="form-group">
                <label for="destinationAirport">Destination Airport</label>
                <select class="form-control selectpicker" data-style="btn btn-link" id="destinationAirport" (change)="setDestination($event)" [ngClass]="validate?(destination?'is-valid':'is-invalid'):''">
                  <option value="-1">Select...</option>
                  <option *ngFor="let airport of bookingService.Airports" value={{airport.id}}>
                    {{airport.fullName}}
                  </option>
                </select>
                <!--<div class="input-group-append" *ngIf="destination">
                  <span class="input-group-text" id="destinationid">{{destination.id}}</span>
                </div>-->
              </div>
              <div class="text-danger" *ngIf="validate&&!destination">
                Please select a destination airport
              </div>
              <br />
              <p class="text-danger" *ngIf="errorMessage">{{errorMessage}}</p>
              <div class="row justify-content-end">
                <button class="btn btn-primary" [class.disabled]="!formValidated()" (click)="formNext()">Next >></button>
              </div>
            </div>

            <div class="tab-pane" id="times" [class.active]="activePage==2" *ngIf="activePage==2">
              <!-- The *ngIf here shouldn't be necessary, but in reality, it prevents the script from throwing errors when source, destination, and date haven't been selected yet. -->
              <h5 class="text-center text-primary">Flight from {{source.id}} to {{destination.id}} on {{ toMoment(date).toDate() | date:'fullDate'}}</h5>
              <hr />
              <div class="row">
                <div class="col-lg-6" *ngFor="let flight of filteredFlights">
                  <div class="card text-center m-2">
                    <div class="card-body flight-card">
                      <h5 class="card-title nice-font">Departing: {{flight.departureTime | date:'shortTime'}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">Arriving: {{flight.arrivalTime | date:'shortTime'}}</h6>
                      <p class="card-text">{{flight.originAirportId}} <fa-icon [icon]="faLongArrowAltRight"></fa-icon> {{flight.destinationAirportId}}</p>
                      <button (click)="book(flight)" class="btn btn-small btn-success text-right">{{flight.price | currency}} >></button>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #noflights>
                <h3 class="text-center">
                  <small class="text-danger">DigitAir has no flights available for these locations and this date.  Please try again with different inputs.</small>
                </h3>
              </ng-template>
              <hr />
              <button class="btn btn-primary" (click)="activePage=1"><< Back</button>
            </div>

            <div class="tab-pane" id="listings" [class.active]="activePage==3">
              <div class="row">
                <div class=" col-lg-4 order-lg-2 m-0 mb-3">
                  <div class="jumbotron info-jumbotron">
                    <h3 class="card-title nice-font">Flight Information:</h3>
                    <hr />
                    <dl *ngIf="currentBooking">
                      <dt>Departing</dt>
                      <dd>{{source.fullName}} ({{source.id}})</dd>
                      <dt>Departure Time</dt>
                      <dd>{{currentBooking.flight.departureTime | date}}</dd>
                      <dt>Arriving</dt>
                      <dd>{{destination.fullName}} ({{destination.id}})</dd>
                      <dt>Arrival Time</dt>
                      <dd>{{currentBooking.flight.arrivalTime | date}}</dd>
                      <dt>Price</dt>
                      <dd>{{currentBooking.flight.price | currency}}</dd>
                    </dl>
                  </div>
                </div>
                <div class="col-lg-8 order-lg-1">
                  <div class="jumbotron form-jumbotron" style="width:100%">
                    <div class="alert alert-warning" *ngIf="infoFormUsed">
                      <div class="container">
                        <div class="alert-icon">
                          &#x26A0;
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <b>Please Note:</b> This form is for demonstration purposes only, and has not been secured for real information.
                      </div>
                    </div>
                    <form class="needs-validation" novalidate>
                      <div class="form-row">
                        <div class="col-md-6 mb-3 form-group">
                          <label for="validationCustom01" class="bmd-label-floating">First name</label>
                          <input (change)="infoFormUsed=true" type="text" class="form-control" required>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                        <div class="col-md-6 mb-3 form-group">
                          <label for="validationCustom02" class="bmd-label-floating">Last name</label>
                          <input (change)="infoFormUsed=true" type="text" class="form-control" required>
                          <div class="valid-feedback">
                            Looks good!
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-6 mb-3 form-group">
                          <label for="validationCustom03" class="bmd-label-floating">City</label>
                          <input (change)="infoFormUsed=true" type="text" class="form-control" required>
                          <div class="invalid-feedback">
                            Please provide a valid city.
                          </div>
                        </div>
                        <div class="col-md-3 mb-3 form-group">
                          <label for="validationState" class="bmd-label-floating">State</label>
                          <input (change)="infoFormUsed=true" type="text" class="form-control" required>
                          <div class="invalid-feedback">
                            Please select a valid state.
                          </div>
                        </div>
                        <div class="col-md-3 mb-3 form-group">
                          <label for="validationCustom05" class="bmd-label-floating">Zip</label>
                          <input (change)="infoFormUsed=true" type="text" class="form-control" required>
                          <div class="invalid-feedback">
                            Please provide a valid zip.
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-12 mb-3 form-group">
                          <label for="validationCustomEmail" class="bmd-label-floating">Email</label>
                          <div class="input-group">
                            <input (change)="infoFormUsed=true" type="text" class="form-control" id="validationCustomEmail" required>
                            <div class="invalid-feedback">
                              Please enter your email.
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-7 mb-3 form-group">
                          <label for="validationCustom03" class="bmd-label-floating">Credit Card</label>
                          <input (change)="infoFormUsed=true" type="text" class="form-control"  required>
                          <div class="invalid-feedback">
                            Please provide a valid credit card number.
                          </div>
                        </div>
                        <div class="col-md-3 mb-3 form-group">
                          <label for="validationCustom04" class="bmd-label-floating">Expiration</label>
                          <input (change)="infoFormUsed=true" type="text" class="form-control"  required>
                          <div class="invalid-feedback">
                            Please provide a valid expiration date.
                          </div>
                        </div>
                        <div class="col-md-2 mb-3 form-group">
                          <label for="validationCustom04" class="bmd-label-floating">CVC</label>
                          <input (change)="infoFormUsed=true" type="text" class="form-control"  required>
                          <div class="invalid-feedback">
                            Please provide a valid CVC.
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value=""> Agree to terms and conditions
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-12 justify-content-right order-lg-3">
                  <div class="jumbotron submit-jumbotron row justify-content-center">
                    <button class="btn btn-primary btn-lg col-md-3 mega-submit-btn" type="submit" (click)="submitBooking()">Book Flight</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
