<div class="page-header credits-page-header" data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="post-animation-div col-md-8 ml-auto mr-auto">
        <h1 style="vertical-align:middle;max-height:100%">DigitAir</h1>
        <h3 class="subtitle">Start your high-flying adventure with us today.</h3>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="section section-intro">
    <div class="container text-center">
      <h2>Credits</h2>
      <h3 class="subtitle"><small>Find all cited sources here</small></h3>

    </div>

  </div>
  <div class="section section-images">
    <div class="container">
      <h3>All Images were labelled for reuse with modification.</h3>
      <dl>
        <dt><a href="/assets/img/airport-pxsphere.com-recolored.png">Airport Silhouette</a></dt>
        <dd>Adapted from a free-for-use <a href="https://pxhere.com/en/photo/1446199">photo on pxhere.com</a></dd>
        <dt><a href="/assets/img/worker-afcent.af.mil-recolored.png">Worker Silhouette</a></dt>
        <dd>Adapted from a free-for use <a href="https://www.afcent.af.mil/News/Article/221619/if-you-aint-ammo/">photo from US Air Forces Central Command's website</a></dd>
        <dt>Front-page background pattern</dt>
        <dd>Adapted from a <a href="https://www.toptal.com/designers/subtlepatterns/page/2/#post-2830">pattern on toptal.com</a></dd>
        <dt>Animation and front-page icons</dt>
        <dd>All images visible on the front (with the exception of the background pattern) page were designed by Isabella Jetensky and Lucas Niewohner</dd>
      </dl>
    </div>
  </div>
  <div class="section section-components">
    <div class="container">
      <h3>Much of DigitAir's design components were borrowed from the following sources</h3>
      <ul>
        <li><b><a href="https://www.creative-tim.com/product/material-kit">Material Kit</a> </b>, a free-to-use framework by <a href="https://www.creative-tim.com/">Creative Tim</a> (Used with express permission)</li>
        <li><b><a href="https://ng-bootstrap.github.io/#/home">Ng-Bootstrap</a></b>, a free-to-use <a href="https://getbootstrap.com">bootstrap</a> alternative </li>
        <li><b><a href="https://https://momentjs.com/">Moment.Js</a></b>, a free-to-use date calculation library.</li>
      </ul>
    </div>
  </div>
  <div class="section section-fonts">
    <div class="container">
      <h5>The following two fonts were used in the front-page animation:</h5>
      <ul>
        <li>https://www.dafont.com/single-step.font</li>
        <li>https://www.dafont.com/mobstex.font</li>
      </ul>
    </div>
  </div>
  <div class="section section-developers">
    <div class="container">
      <h5>Development work performed by Lucas Niewohner, Graphic Designs by Isabella Jetensky, both of the Tekamah, Nebraska FBLA Chapter.</h5>
    </div>
  </div>
</div>
