<div class="page-header credits-page-header" data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="post-animation-div col-md-8 ml-auto mr-auto">
        <h1 style="vertical-align:middle;max-height:100%">DigitAir</h1>
        <h3 class="subtitle">Start your high-flying adventure with us today.</h3>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="section section-intro">
    <div class="container text-center">
      <h2>Credits</h2>
      <h3 class="subtitle"><small>Find all cited sources here</small></h3>

    </div>

  </div>
  <div class="section section-images">
    <div class="container">
      <h3>All Images were labelled for reuse with modification.</h3>
      <ul>
        <li><b><a href="/assets/img/airport-pxsphere.com-recolored.png" class="link">Airport Silhouette:</a></b> Adapted from a free-for-use <a href="https://pxhere.com/en/photo/1446199" class="link">photo on pxhere.com</a></li>
        <li><b><a href="/assets/img/worker-afcent.af.mil-recolored.png" class="link">Worker Silhouette:</a></b> Adapted from a free-for use <a href="https://www.afcent.af.mil/News/Article/221619/if-you-aint-ammo/" class="link">photo from US Air Forces Central Command's website</a></li>
        <li><b><a href="https://www.toptal.com/designers/subtlepatterns/page/2/#post-2830" class="link">Front-page background pattern</a></b> Adapted from a <a href="https://www.toptal.com/designers/subtlepatterns/page/2/#post-2830" class="link">pattern on toptal.com</a></li>
        <li><b><a href="\assets\img\icons8-airplane-landing-100.png" class="link">Tab Icon:</a></b> Courtesy of <a href="https://icons8.com/" class="link">icons8.com</a></li>
        <li>All other images were designed by Isabella Jetensky (see below)</li>
      </ul>
    </div>
  </div>
  <div class="section section-components">
    <div class="container">
      <h3>Much of DigitAir's design components were borrowed from the following sources</h3>
      <ul>
        <li><b><a href="https://www.creative-tim.com/product/material-kit" class="link">Material Kit</a> </b>, a free-to-use framework by <a href="https://www.creative-tim.com/">Creative Tim</a> (Used with express permission)</li>
        <li><b><a href="https://ng-bootstrap.github.io/#/home" class="link">Ng-Bootstrap</a></b>, a free-to-use <a href="https://getbootstrap.com">bootstrap</a> alternative </li>
        <li><b><a href="https://https://momentjs.com/" class="link">Moment.Js</a></b>, a free-to-use date calculation library.</li>
      </ul>
    </div>
  </div>
  <div class="section section-fonts">
    <div class="container">
      <h3>The following two fonts were used in the front-page animation:</h3>
      <ul>
        <li><a href="https://www.creative-tim.com/product/material-kit" class="link">https://www.dafont.com/single-step.font</a></li>
        <li><a href="https://www.creative-tim.com/product/material-kit" class="link">https://www.dafont.com/mobstex.font</a></li>
      </ul>
    </div>
  </div>
  <div class="section section-developers">
    <div class="container">
      <h5>This website was designed by a duo of developers from Tekamah, Nebraska, and submitted for competition in the 2020 Nebraska State FBLA Compeition.  Lucas Niewohner, Developer, and Isabella Jetensky, Designer, achieved some success in that competition, and despite challenges related to the COVID-19 pandemic, their brainchild will soon be competiting at the national level when the National Leadership Competition (NLC) begins judging. Wish them luck!</h5>

      <h5><b>Source Code:  </b> <a href="https://github.com/Hermanoid/FBLAir" class="link">https://github.com/Hermanoid/FBLAir</a></h5>
    </div>
  </div>
</div>
