<!-- Header section.  This is all to hold the animation and some other fanciness besides. -->
<div class="page-header animation-page-header" data-parallax="true" [class.animation-page-complete]="animationComplete">
  <div class="spike-overlay">
    <div class="container" id="animation_padding_container">
      <div *ngIf="animationComplete" class="row">
        <div class="post-animation-div col-md-8 ml-auto mr-auto">
          <div id="digitair_emblem_box">
            <img src="/assets/img/DigitAir_Logo.png" alt="DigitAir Logo" id="digitair_emblem" />
            <h3 class="subtitle">Start your high-flying adventure with us today.</h3>
          </div>
        </div>
      </div>
      <div id="animation_resize_container" [class.d-none]="animationComplete">
        <!-- "bootstrap" container used in scripts to calculate animation window size. -->
        <div id="animation_container">
          <canvas id="canvas"  style="position: absolute; display: none;"></canvas>
          <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:800px; height:600px; position: absolute; left: 0px; top: 0px; display: none;">
          </div>
        </div>
        <div id='_preload_div_' style='position:absolute; top:0; left:0; text-align: center;'>
          <span id="_preload_div_custom_">
            <span style='display: inline-block; height: 100%; vertical-align: middle;'></span>
            <img src="assets/animation/images/_preloader.gif" style='vertical-align: middle; max-height: 100%' />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="profile-page">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile profile-modified">
            <div class="avatar">
              <img src="assets/img/website big logo.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
            </div>
            <div class="name">
              <div class="title"><h2>Fly Your Way</h2></div>
              <h6 class="subtitle text-muted">CUT THE COST, NOT THE QUALITY</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-summary">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4 text-center">
          <div class="row">
            <div class="col-md-4 col-lg-12">
              <img src="assets/img/helpful-human.png" alt="Helpful Human Icon" class="img-fluid intro-icon" />
            </div>
            <div class="col-md-8 col-lg-12">
              <h2>Who We Are</h2>
              <p>We are DigitAir, a discount airline based on the idea that finding inexpensive flights need not be a joyless and challenging process.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 text-center">
          <div class="row">
            <div class="col-md-4 col-lg-12">
              <img src="assets/img/speedy-plane.png" alt="Speedy Plane Icon" class="img-fluid intro-icon" />
            </div>
            <div class="col-md-8 col-lg-12">
              <h3>What We Do</h3>
              <p>We provide our customers with cheap, yet quality flights without the hassle of most discount airlines.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4 text-center">
          <div class="row">
            <div class="col-md-4 col-lg-12">
              <img src="assets/img/whacky-hammer.png" alt="Whacky Hammer Icon" class="img-fluid intro-icon" />
            </div>
            <div class="col-md-8 col-lg-12">
              <h3>How we do it</h3>
              <p>
                By minimizing labor costs with technology and cutting back on frivolous in-flight amenities, DigitAir puts every dollar to work bringing a no-frills, turbulence-free journey takeoff to touchdown.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-letsdothis">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="text-center">Get Started Today</h1>
          <button class="btn btn-primary btn-lg letsdothis-btn" (click)="router.navigate(['booking'])">Lets do this!</button>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-links">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card p-3">
            <h3 class="card-title nice-font">Now Hiring!</h3>
            <p>DigitAir offers a collaborative and positive work environment and competitive pay.  Click the link for more details.</p>
            <button class="btn btn-primary front-link-btn" routerLink="/jobs">Reveal the Jobs >></button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card p-3">
            <h3 class="card-title nice-font">Frequent Flyer Program</h3>
            <p>Information about DigitAir's robust Frequent Flyer Program can be found beyond this link</p>
            <button class="btn btn-primary front-link-btn" routerLink="/freqfly">I Frequent the Skies >></button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card p-3">
            <h3 class="card-title nice-font">About</h3>
            <p>DigitAir's history began as a project between two high school students and grew into something great.  See what makes this site tick here.</p>
            <button class="btn btn-primary front-link-btn" routerLink="/credits">Delve into the History >></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


