.animation-page-header
  background-size: contain
  background-color: rgba(0,204,204,1.00)
  background-repeat: no-repeat
  align-items: center

  
#animation_container, #_preload_div_ 
  position: absolute
  margin: auto
  left: 0
  right: 0
  top: 0
  bottom: 0

#animation_resize_container
  height: 100%
  position: relative

#animation_padding_container
  padding: 80px 0 240px 0
  height: 100%

.intro-icon > img
  max-width: 35vw
  width: 100%

.intro-icon
  text-align: center
