.animation-page-header
  background-color: #16af89
  align-items: center

.spike-overlay
  background-size: auto
  background: url("/assets/img/dots-transparent.png")
  background-repeat: repeat
  width: 100%
  height: 100%
  
#animation_container, #_preload_div_ 
  position: absolute
  margin: auto
  left: 0
  right: 0
  top: 0
  bottom: 0

#_preload_div_
  height: auto
  width: 40vw

#animation_resize_container
  height: 100%
  position: relative

#animation_padding_container
  padding: 80px 0 240px 0
  height: 100%

.intro-icon
  max-width: 35vw
  width: 100%

@media (min-width: 992px)
  .intro-icon
    max-width: 20vw
@media (min-width: 1200px)
  .intro-icon
    max-width: 16.5vw

.animation-page-complete
    display: flex
    align-items: center
    text-align: center

.post-animation-div
    position: absolute
    display: flex
    left: 0
    right: 0
    top: 0
    bottom: 0
    align-items: center

.section
  padding: 70px 10px

.section-letsdothis
    position: relative
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    background-image: url("/assets/img/airport-pxsphere.com-recolored.png")
 
    height: 50vh
    min-height: 200px
    display: flex
    align-items: center

.section-links
  background-color: #e9e8eb
  border-radius: 0 0 6px 6px

.link-box
  text-align: center
  margin-bottom: 50px
  border-radius: 20px
  padding: 10px

.link-box:hover
  background-image: url("/assets/img/spikes-darkened.png")
  background-repeat: repeat

.link-box h3
  color: #333

.front-link-btn
  background: linear-gradient(45deg, #15294c, #16af89)
  border: none

#digitair_emblem
  width: 50vw

#digitair_emblem_box
    margin-top: -10rem
    margin-left: auto
    margin-right: auto
