<div class="page-header freqfly-page-header" data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="post-animation-div col-md-8 ml-auto mr-auto">
        <h1 style="vertical-align:middle;max-height:100%">DigitAir</h1>
        <h3 class="subtitle">Start your high-flying adventure with us today.</h3>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="section section-intro">
    <div class="container text-center">
      <h2>Frequent-Flyer Program Information</h2>
      <h3 class="subtitle"><small>Earn points and fly for free with DigitAir's Frequent-Flyer program.</small></h3>
    </div>
  </div>
  <div class="section section-main">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
            <!--
                color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
            -->
            <li class="nav-item">
              <a class="nav-link active" href="#environment" role="tab" data-toggle="tab">
                <div class="icon-box"> <fa-icon [icon]="faAdjust"></fa-icon></div> Eligibility
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#positions" role="tab" data-toggle="tab">
                <div class="icon-box"> <fa-icon [icon]="faSpinner"></fa-icon></div> Progression
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#firststeps" role="tab" data-toggle="tab">
                <div class="icon-box"> <fa-icon [icon]="faCommentDollar"></fa-icon></div> Use
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#faq" role="tab" data-toggle="tab">
                <div class="icon-box"> <fa-icon [icon]="faQuestion"></fa-icon></div> FAQ
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="tab-content">
            <div class="tab-pane active" id="environment">
              DigitAir's frequent-flyer program does not use user accounts to remember flown miles; rather, they are attached to the email address that users enter when booking a flight.
              <br /><br />
              Users, then, start earning frequent-flyer points the instant they book their first flight, no matter what.
            </div>
            <div class="tab-pane" id="positions">
              Points add up fast, at a constant rate of 20 points per mile.  Points are exchangeable 1,000 points at a time; so, for example, if a user had 2,344 points on their account, 2,000 of those points would be applicable to future flights.
              <br /><br />
              Every 1,000 points exchanges for 100 miles - meaning that, for every two miles a user flies, he or she earns the equivalent 1 mile worth of points.
            </div>
            <div class="tab-pane" id="firststeps">
              Frequent-Flyer points that a user has accumulated can be applied to new flights as a rebate.  In practice, the process goes like this:

              <br /><br />
              After a user has books, he or she receives an email.  This email will include information not only about the flight, but also all the frequent-flyer points a user has built up (this information is attached to the users' email address, as outlined in "Eligibility").  This email will give users the option to apply their points in units of 1,000 points (as outlined in "Progression").  As always, DigitAir's support team will be ready and waiting should any problems arise.
            </div>
            <div class="tab-pane" id="faq">
              Frequently Asked Questions:
              <br /><br />
              <b>Can't someone steal my points if they aren't attached to a username and password?</b> To put it simply, no.  DigitAir's system prevents hackers from taking points from honest user's accounts by holding off on the rebate until after an email has been sent to the owner's address.  A potential hacker would need to have access to the user's email provider to actually steal any points.  As for potential hackers booking flights on email address that don't belong to them, booking in such way would only cost them money and benefit the account they're targeting with more points.  If you believe you've become recipient of another person's frequent-flyer points, please contact DigitAir at <a href="mailto:fbla_digitair@outlook.com">fbla_digitair@outlook.com</a> and report the case for further review.
              <br />
              <b>What if my points don't appear in the confirmation email?</b>  If you've booked flights previously with DigitAir and cannot access your points from prior flights, odds are those flights were booked with another email.  If this is the case, <a href="mailto:fbla_digitair@outlook.com">contact us</a> with the address you want to transfer from so we can transfer those points to the address where the rebate-worthy booking was made.
              <br />
              <b>Wait... if I can transfer points between email addresses, can't a hacker do the same?</b> A fair concern, but no.  Since DigitAir will only transfer points in response to an email address from the original address a user wants to transfer from, once again a hacker would need to break into the original account to remove points from it.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
