/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/bootstrap/dist/css/bootstrap.css";*/
@import "assets/scss/customtheme.scss";


$footer_height: 240px;

//Sticky Footer
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer_height; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer_height; /* Set the fixed height of the footer here */
}

.footer-content {
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  padding: 2rem;
  text-align: center;
  color: #CCC;
  z-index: 5;
}

.footer-credits-link {
  padding: 5px;
  text-decoration: none;
  color: white;
}

.footer-credits-link:hover {
  color: #BBB !important;
  text-decoration: none !important;
}

//Custom CSS
#footer_image {
  height: $footer_height - 10px;
  width: $footer_height - 10px;
  margin-top: 10px;
  float: right;
}

#footer_image_cont {
  text-align: right;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  margin-left: 0;
  z-index: 0;
}

body {
  background-color: $light
}

$big-profile-imgwidth: 240px;

.profile-page .profile.profile-modified img {
  max-width: $big-profile-imgwidth;
}

.profile.profile-modified .name {
  margin-top: -($big-profile-imgwidth/2);
}

.pointer { //"I want this button to looking clickable.  Make it a pointer."
  cursor: pointer;
}

.navbar.bg-primary.navbar-transparent .navbar-nav .nav-item.active .nav-link { //Make the navbar buttons shine a little better when selected
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar.bg-primary .navbar-nav .nav-item.active .nav-link { //...But only when the navbar is transparent.  The normal about of tinting is great for when it's filled in.
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-gradient {
  background: linear-gradient(90deg,#15294c, #16af89);
}

.navbar-gradient.navbar-transparent {
  background: none;
}

.footer-gradient {
  background: linear-gradient(90deg,#15294c, #16af89);
}

.final-gradient {
  width: 50%;
  height: 3in;
  margin-top: -3in;
}

.final-gradient.final-gradient-left {
  background: linear-gradient(0deg, #15294c, transparent);
}

.final-gradient.final-gradient-right {
  margin-left: 50%;
  background: linear-gradient(0deg, #16af89, transparent);
}

.input-group-append .btn, .input-group-prepend .btn {
  margin: 0;
}

.letsdothis-btn {
  border: none !important;
  padding: 2rem 4rem !important;
  border-radius: 0.5rem !important;
}

.fancy-btn {
  background: linear-gradient(45deg, #15294c, #16af89);
}

.letsdothis-btn:active:focus {
  background: linear-gradient(-45deg, #4d4da1, #14866a);
}

.nav-pills .nav-link fa-icon {
  font-size: 40px;
}

.icon-box {
  padding: 15px 20px;
}

.section-intro {
  padding: 40px 0;
}

.nice-font {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#logo {
  height: 50px;
  width: auto;
  margin-top: -8px;
}

.link {
  color: #246c8e
}

.clicky-tabs{
    padding-bottom: 1rem
}
