<div class="page-header jobs-page-header" data-parallax="true">
  <div class="container">
    <div class="row">
      <div class="post-animation-div col-md-8 ml-auto mr-auto">
        <h1 style="vertical-align:middle;max-height:100%">Now Hiring</h1>
        <h3 class="subtitle">Join our team and start making change today!</h3>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="section section-intro text-center">
    <div class="container">
      <h2>DigitAir is hiring!</h2>
      <h3 class="subtitle"><small>Join our small team of highly motivated individuals and become a part of the airline revolution.</small></h3>
    </div>
  </div>
  <div class="section section-jobs">
    <!--<div class="col-lg-6 col-md-8">
      <ul class="nav nav-pills nav-pills-icons" role="tablist">
        <li class="nav-item">
          <a class="nav-link" href="#dashboard-1" role="tab" data-toggle="tab">
            <div class="icon-box"> <fa-icon [icon]="faBuilding"></fa-icon></div> Environment
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#schedule-1" role="tab" data-toggle="tab">
            <div class="icon-box"><fa-icon [icon]="faBriefcase"></fa-icon></div> Positions
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tasks-1" role="tab" data-toggle="tab">
            <div class="icon-box"><fa-icon [icon]="faWalking"></fa-icon></div> Firsts steps
          </a>
        </li>
      </ul>
      <div class="tab-content tab-space">
        <div class="tab-pane active" id="dashboard-1">
          Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
          <br>
          <br> Dramatically visualize customer directed convergence without revolutionary ROI.
        </div>
        <div class="tab-pane" id="schedule-1">
          Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
          <br>
          <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
        </div>
        <div class="tab-pane" id="tasks-1">
          Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
          <br>
          <br>Dynamically innovate resource-leveling customer service for state of the art customer service.
        </div>
      </div>
    </div>-->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-pills-icons flex-column" role="tablist">
            <!--
                      color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                  -->
            <li class="nav-item">
              <a class="nav-link active" href="#environment" role="tab" data-toggle="tab">
                <div class="icon-box"> <fa-icon [icon]="faBuilding"></fa-icon></div> Environment
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#positions" role="tab" data-toggle="tab">
                <div class="icon-box"> <fa-icon [icon]="faBriefcase"></fa-icon></div> Positions
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#firststeps" role="tab" data-toggle="tab">
                <div class="icon-box"> <fa-icon [icon]="faWalking"></fa-icon></div> First Steps
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="tab-content">
            <div class="tab-pane active" id="environment">
              DigitAir offers a state-of-the-art facility, collaborative atmosphere, and spirit of rewarding work to all our employees.
              <br>
              <br> Both housed in refurbished grain elevators, DigitAir's two offices drip with history and authenticity.  Inside, employees work in an open floor-plan setting designed to encourage collaborative work.  But don't be fooled:  this open, airy feel belies a powerhouse of change working to revolutionize the airline paradigm from the ground up.
              <br />
              <br />
              With several positions available to fill, DigitAir is looking to round out this space and further its thrilling vision.
            </div>
            <div class="tab-pane" id="positions">
              DigitAir is actively seeking to round out its team with qualified and spirited employees.  The following are the shoes we most need filled.
              <br>
              <br><b>Senior Full-Stack Developer: </b> This developer will be placed in charge of the DigitAir website, building it out and maintaining it as our company grows and shifts.
              <br /><b>Operations Manager:</b> DigitAir is also seeking a qualified business professional capable of managing the deployment of several new aircraft, as well as the maintenance of existing aircraft.
              <br /><b>Junior Operations Manager:</b> Full-time assistant to the Operations Manager, this position will be more accessible to individuals with less applied work practice.  Duties will be similar to those listed above.

            </div>
            <div class="tab-pane" id="firststeps">
              Come tour our offices and see how DigitAir is working to make the world a better place!
              <br>
              <br>If you're interested in stepping out of your comfort zone and blazing a new trail of change with us, send us an email at <a href="mailto:fbla_digitair@outlook.com">fbla_digitair@outlook.com</a>.
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="section section-stats">
    <div class="container-fluid">
      <div class="row no-gutters">
        <div id="job-stat-1" class="col-sm-3 text-center job-stat">
          <h3>16</h3>
          <p class="subtitle">Airplanes</p>
        </div>
        <div id="job-stat-2" class="col-sm-3 text-center job-stat">
          <h3>25</h3>
          <p class="subtitle">Employees</p>
        </div>
        <div id="job-stat-3" class="col-sm-3 text-center job-stat">
          <h3>2</h3>
          <p class="subtitle">Office Locations</p>
        </div>
        <div id="job-stat-4" class="col-sm-3 text-center job-stat">
          <h3>>1 Million</h3>
          <p class="subtitle">People Affected Daily</p>
        </div>
      </div>
    </div>
  </div>
</div>
