<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg navbar-transparent bg-dark navbar-gradient" color-on-scroll="100">
  <a class="navbar-brand" href="#">DigitAir</a>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarNavDropdown" [attr.aria-expanded]="isNavbarCollapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link pointer" (click)="router.navigate([''])">Home <span class="sr-only">(current)</span></a> <!-- TODO: Change Active Page with navigation--> 
      </li>
      <li class="nav-item">
        <a class="nav-link pointer" (click)="router.navigate(['booking'])">Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer" href="#">Jobs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<div class="final-gradient final-gradient-left"></div>
<div class="final-gradient final-gradient-right"></div>
<footer class="footer bg-dark footer-gradient p-0">
  <div id="footer_image_cont" class="d-none d-sm-block">
    <img id="footer_image" src="/assets/website watermark.png" alt="" />
  </div>
  <div class="footer-content">
    <p class="text-light">Don't talk to us, ever.</p>
  </div>
</footer>
